{**
 * TODOLIST
 * Školní projekt k seznámení s Nette a ORM
 * 
 * @author MMR <miroslav.mrazek@gmail.com>
 *}


{form loginForm}
	<p>{label username /}{input username}</p>
	<p>{label password /}{input password}</p>
	<p>{label remember, class => "checkbox"}{input remember}Chci zůstat přihlášený{/label}</p>
	<p>{input ok}</p>
{/form}