##
# ToDoList
# Školní projekt k seznámení s Nette a ORM
# 
# @author IIVOS <miroslav.mrazek@gmail.com>
#
# Tento soubor slouží jako šablona pro vytvoření souboru 'config.local.neon'

parameters:
	database:
		host: "hostName"
		username: "userName"
		password: "password"
		database: "databaseName"