##
# ToDoList
# Školní projekt k seznámení s Nette a ORM
# 
# @author IIVOS <miroslav.mrazek@gmail.com>
#

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Todolist\*Module\*Presenter

	session:
		expiration: 14 days

services:
	routerFactory: Todolist\RouterFactory
	router: @routerFactory::createRouter

includes:
	- model.neon