##
# ToDoList
# Školní projekt k seznámení s Nette a ORM
# 
# @author IIVOS <miroslav.mrazek@gmail.com>
#

services:
	- LeanMapper\Connection(%database%)
	- Todolist\Model\Authenticator
	- Todolist\Model\UserRepository
	- Todolist\Model\TaskRepository
	- Todolist\Model\ListRepository