{**
 * ToDoList
 * Školní projekt k seznámení s Nette a ORM
 * 
 * @author IIVOS <miroslav.mrazek@gmail.com>
 *}

{layout ../@simpleLayout.latte}

{#content}
<h1 n:block=title>Sign in</h1>

{control signInForm}

{/#}
