{**
 * TODOLIST
 * Školní projekt k seznámení s Nette a ORM
 * 
 * @author MMR <miroslav.mrazek@gmail.com>
 *}

{layout ../@layoutWithoutMenu.latte}

{#content}

<h1 n:block="title">Přihlášení</h1>
{control loginForm}

{/#}
